<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {%  endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        {% endblock %}

        <br />
        <br />
        <br />
        <br />
        <footer>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('app_homepage') }}">Footer Homepage</a>
            </div>
        </footer>
    </body>

</html>
